.outwrapper{
    /* background-color: aquamarine; */
}
.side-menu{
    /* background-color: antiquewhite; */
}
.addBtn{
    height: fit-content;
}
.table td, .table th{
    vertical-align: -webkit-baseline-middle !important;
}
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
    animation: l24 1s infinite alternate linear;
  }
  .loader::before {
    content: "Loading...";
    line-height: 1em;
    color: #0000;
    background: inherit;
    background-image: radial-gradient(circle closest-side,#fff 94%,#000);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l24{
    100%{background-position: left}
  }
  .Hod-fluid{
    max-width: 100% !important;
    height: auto !important;
  }
  .img-fluid{
    max-width: 100% !important;
  }
  .faculty-tab{
    gap: 30px;
  }
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-img-top{
    padding: 10px;
    border-radius: 17%;
  }
  .tab-content{
    background-color: aliceblue;
  }

  /* Define a fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Apply the animation to elements with the .fade-in class */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
.teacher-edit-btn{
  width: fit-content;
}
.teacher-delete-btn{
  width: fit-content;
}
