.header {
    height: 110px;
    font-size: 35px;
}

.header span {
    padding-left: 25px;
    font-size: 25px;
    color: azure;
}
.box-shadow{
    box-shadow: 0 0.5rem 2rem rgba(0,19,8,.4)!important;
}

.fa-ul{
    list-style: none;
    text-align: left;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(0, 100%, 98%);
    }
    100% {
      background-color: hsl(180, 0%, 53%);
    }
  }
  
  .skeleton-title {
    width: 50%;
    height: 2.125rem;
    border-radius: 0.25rem;
  }
  
  .skeleton-text {
    width: 90%;
    height: 0.7rem;
    margin-bottom: 0.4rem;
    border-radius: 0.25rem;
  }

  .teachericon{ 
    border-radius: 0.5rem;
    /* max-height: 400px; */
  }

  .teacherinfo{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .flex-item{
      box-sizing: border-box;
      border: 1px solid #ccc;
      margin: auto;
      text-align: center;
  }
  .heightInherit{
    height: inherit;
  }
  .carousel-item {
    text-align: center; /* Centers the image horizontally */
    height: 200px; /* Set the height of each carousel item */
}
